@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Raleway-Regular";
  src: url("fonts/Raleway-Regular.eot");
  src: local("☺"), url("fonts/Raleway-Regular.woff") format("woff"), url("fonts/Raleway-Regular.ttf") format("truetype"), url("fonts/Raleway-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Light";
  src: url("fonts/Raleway-Light.eot");
  src: local("☺"), url("fonts/Raleway-Light.woff") format("woff"), url("fonts/Raleway-Light.ttf") format("truetype"), url("fonts/Raleway-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("fonts/Raleway-Bold.eot");
  src: local("☺"), url("fonts/Raleway-Bold.woff") format("woff"), url("fonts/Raleway-Bold.ttf") format("truetype"), url("fonts/Raleway-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Raleway";
}

.header {
  color: #fff;
  background: #000;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header__row {
  display: flex;
  justify-content: space-between;
  padding: 23px 0px 22px 0px;
}

.header__logo {
  width: 79px;
}

.header__logo img {
  width: 100%;
}

.header__list {
  margin: 8px 0px 0px 0px;
  display: flex;
}

.header__list a {
  display: inline-block;
  opacity: 0.69;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  margin: 0px 48px 0px 0px;
}

.header__list a:last-child {
  margin: 0;
}

.container__slider {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  top: -72px;
  left: 0;
  background: #000;
}

.container__slider img {
  width: 100%;
}

.slider__body {
  position: absolute;
  max-width: 1100px;
  top: 182px;
}

.slider__row {
  display: flex;
  justify-content: space-between;
}

.slider__left {
  flex: 0 1 540px;
}

.slider__logo {
  margin: 0px 0px 33px 0px;
}

.slider__title {
  color: #ffffff;
  margin: 0px 0px 36px 0px;
}

.title__base {
  font-size: 36px;
  text-transform: uppercase;
}

.line {
  border-bottom: 2px solid #fff;
  width: 64px;
}

.slider__underline {
  margin: 0px 0px 40px 2px;
}

.slider__text {
  opacity: 0.8;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  margin: 0px 0px 40px 0px;
}

a.slider__btn {
  display: inline-block;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  padding: 15px 32px;
  border: 2px solid #fff;
}

.slider__right {
  flex: 0 0 360px;
  background: #fff;
}

.title {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans";
}

.slider__subtitle {
  padding: 18px 0px 15px 0px;
  text-align: center;
  background: #f5f5f5;
  margin: 0px 0px 30px 0px;
}

.slider__subtitle span {
  color: #ff8b38;
}

.slider__input {
  color: #bdbdbd;
  font-size: 14px;
  background: #fff;
  font-family: "Open Sans";
  margin: 0px 0px 0px 0px;
}

.slider__input input {
  padding: 11px 0px 9px 14px;
  display: inline-block;
  width: 285px;
  box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
}

.slider__name {
  margin: 0px 0px 36px 40px;
}

.slider__mail {
  margin: 0px 0px 47px 40px;
}

.slider__pass {
  margin: 0px 0px 49px 40px;
}

.slider__GetStarted {
  background: #ff9b51;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 21px 0px 20px 0px;
}

.SocialMedia {
  font-family: "Open Sans";
  margin: -72px 0px 0px 0px;
  padding: 22px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
}

.container__row {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 0px 0px 150px;
}

.SocialMedia__row {
  display: flex;
}

.SocialMedia__body {
  flex: 0 1 360px;
}

.SocialMedia__title {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 12px 0px;
}

.text {
  color: #86878b;
  font-size: 14px;
  line-height: 20px;
}

.SocialMedia__logo {
  padding: 0px 85px;
  flex: 0 1 890px;
  display: flex;
  justify-content: space-between;
}

.tabs {
  padding: 147px 0px 114px 0px;
  background-color: #f5f5f5;
}

.tabs__row {
  display: flex;
  justify-content: space-between;
}

.tabs__left {
  flex: 0 0 112px;
}

.tabs__tab {
  display: inline-block;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background: #333333;
  height: 112px;
  width: 112px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab__active {
  background: #ff8b38;
}

.tabs__text {
  flex: 0 0 476px;
  margin: 0px 0px 50px 0px;
}

.tabs__text p {
  margin: 0px 0px 35px 0px;
}

.tabs__text p:last-child {
  margin: 0;
}

.tabs__title {
  margin: 0px 0px 52px 0px;
}

a.tabs__btn {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  background: #ff8b38;
  display: inline-block;
  padding: 16px 25px 17px 25px;
  text-align: center;
}

.tabs__image {
  flex: 0 0 320px;
}

.tabs__image img {
  width: 100%;
}

.SubList__row {
  display: flex;
  justify-content: space-between;
  padding: 107px 0px 130px 0px;
}

.SubList__image {
  width: 525px;
  height: 350px;
  box-shadow: 0px 17px 53px -18px rgba(0, 0, 0, 0.47);
}

.SubList__image img {
  width: 100%;
}

.SubList__body {
  flex: 0 1 450px;
}

.SubList__body.slider__underline {
  border: 1px solid #000;
}

.SubList__title {
  margin: 0px 0px 30px 0px;
}

.slider__underline {
  border-color: #ff8b38;
}

.description__body {
  display: flex;
}

.description {
  margin: 46px 0px 0px 0px;
}

.description__image {
  margin: 0px 36px 0px 0px;
}

.description__title {
  color: #212121;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 700px;
}

.description__text {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
}

.standart {
  background: #f5f5f5;
}

.standart__row {
  padding: 107px 0px 130px 0px;
  display: flex;
  justify-content: space-between;
}

.standart__body {
  flex: 0 1 470px;
}

.standart__title {
  margin: 0px 0px 30px 0px;
}

.standart__underline {
  border-color: #ff8b38;
  margin: 0px 0px 30px 0px;
}

.standart__text {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.standart__text p {
  margin: 0px 0px 30px 0px;
}

.standart__text p:last-child {
  margin: 0;
}

.standart__image {
  width: 525px;
  height: 350px;
  box-shadow: 0px 17px 53px -18px rgba(0, 0, 0, 0.47);
}

.standart__image img {
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.why {
  padding: 107px 0px 105px 0px;
}

.why__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.why__underline {
  border-color: #ff8b38;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.why__text {
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.why__body {
  margin: 0px -16px;
}

.why__row {
  display: flex;
  justify-content: space-between;
}

.why__columns {
  padding: 0px 16px;
}

.column {
  flex: 0 1 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column__image {
  margin: 0px 0px 30px 0px;
}

.column__title {
  margin: 0px 0px 25px 0px;
}

.column__text {
  text-align: center;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
}

.pricing {
  background: #f5f5f5;
  padding: 107px 0px 96px 0px;
}

.pricing__title {
  text-align: center;
  margin-bottom: 30px;
}

.pricing__underline {
  border-color: #ff8b38;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pricing__text {
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.pricing__row {
  display: flex;
  align-items: flex-end;
  margin: 0px -16px;
}

.pricing__area {
  flex: 0 0 33.33%;
  padding: 0px 16px;
}

.card__body {
  text-align: center;
}

.card__title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: #333333;
  padding: 21px 0px;
  outline: 1px solid #fff;
}

.card__price {
  color: #ffffff;
  font-family: Raleway;
  font-size: 94px;
  font-weight: 700;
  line-height: 24px;
  background: #333333;
  padding: 30px 0px 10px 0px;
}

.card__price span {
  font-size: 35px;
}

.card__subtitle {
  color: #727272;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  line-height: 24px;
  background: #333333;
  padding: 18px 0px 21px 0px;
}

.card__orange {
  background: #ff8b38;
  padding: 2px 0px;
}

.card__orange p {
  background: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 14px 0px;
}

.card__list {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.card__list li {
  padding: 14px 0px;
  background: #fff;
  margin: 0px 0px 2px 0px;
}

.customers {
  padding: 108px 0px 101px 0px;
}

.customers__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.customers__underline {
  border-color: #ff8b38;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.customers__text {
  text-align: center;
  margin: 0px 0px 55px 0px;
}

.customers__row {
  display: flex;
  justify-content: space-between;
}

.customers__area {
  position: relative;
  flex: 0 0 273px;
}

.customers__bg {
  position: absolute;
}

.customers__columns {
  position: relative;
}

.custom__text {
  padding: 24px 12px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  margin: 0px 0px 40px 0px;
}

.custom__body {
  display: flex;
  font-family: "Open Sans";
}

.custom__image {
  margin: 0px 15px 0px 0px;
  width: 70px;
  height: 70px;
}

.custom__image img {
  width: 100%;
}

.custom__name {
  padding: 17px 0px 8px 0px;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}

.custom__position {
  color: #86878b;
  font-size: 14px;
}

.contactUs {
  padding: 0px 0px 80px 0px;
}

.contactUs__title {
  color: #212121;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.contactUs__underline {
  border-color: #ff8b38;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contactUs__text {
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.contactUs__body {
  display: flex;
  margin: 0 -30px;
  margin-bottom: 40px;
}

.contactUs__area {
  flex: 0 1 50%;
  padding: 0 30px;
}

.contactUs__left {
  display: flex;
  flex-direction: column;
}

.contactUs__left input {
  height: 30px;
  padding: 11px 0px 9px 13px;
  margin: 0px 0px 30px 0px;
  box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
}

.contactUs__left input:last-child {
  margin: 0;
}

.contactUs__textarea {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #d6d6d6;
}

.contactUs__link {
  text-align: center;
}

a.contactUs__btn {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  background: #ff8b38;
  display: inline-block;
  padding: 15px 24px;
}

.box__body {
  max-width: 900px;
  margin: 0 auto;
}

.box__container {
  display: flex;
  margin: 0 -40px;
}

.box__container-dop {
  position: relative;
  flex: 0 0 33.33%;
  padding: 0px 40px;
  height: 800px;
  border: 1px solid #000;
}

.box__01 {
  color: #fff;
  font-size: 30px;
  padding: 20px;
  background: orange;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  background: #000;
  padding: 22px 0px 15px 0px;
}

.footer__social {
  margin: 0 auto;
  margin: 0px 0px 17px 0px;
  display: flex;
  justify-content: center;
}

a.footer__link {
  margin: 0px 20px;
}

.footer__copyright {
  text-align: center;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
}